<!-- Borrowed from http://getbootstrap.com/examples/starter-template/ -->
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.results_words_key, .results_words_value,
	.results_phrase_key, .results_phrase_value {
	font-size: x-large;
}

